langchain 
python-dotenv
ipykernel 
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia 
langchain-text-splitters
chromadb
langchain-openai
langchain-huggingface
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_groq
streamlit
langchain_core
fastapi
uvicorn
langserve 
sse_starlette
pydantic==2.9.2
duckduckgo-search
SQLAlchemy
mysql-connector-python
#pip install pip-tools
#pip-sync requirements.txt
